[*.cs]

# CA1303: Do not pass literals as localized parameters
dotnet_diagnostic.CA1303.severity = none

# CA2101: Specify marshaling for P/Invoke string arguments
dotnet_diagnostic.CA2101.severity = none

# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = silent

# CA1815: Override equals and operator equals on value types
dotnet_diagnostic.CA1815.severity = silent

# CA5369: Use XmlReader For Deserialize
dotnet_diagnostic.CA5369.severity = silent

# IDE0016: Use 'throw' expression
csharp_style_throw_expression = false:suggestion

# CA1060: Move pinvokes to native methods class
dotnet_diagnostic.CA1060.severity = silent
dotnet_diagnostic.CA1823.severity = silent
dotnet_diagnostic.CA1812.severity = silent
